

.LoginRegisterPage{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  
    padding-top: 10%;
    
}

.login__window {
   
    width: 40%;
    height: 30%;
}